@import '../../components/styling/colors.scss';
@import '../../components/styling/mediaQuery.scss';


.create-nft {
  width: 100%;
  margin-top: 12em;
  background-image: url('../../assets/images/main-bg.jpg');
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakPoints(mobile) {
    height: 100%;
    padding: 3em 0;
  }

  @include breakPoints(small) {
    height: 100%;
    padding: 3em 0;
  }

  @include breakPoints(medium) {
    height: 100%;
    padding: 3em 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;

    @include breakPoints(mobile) {
      height: 100%;
    }

    @include breakPoints(small) {
      height: 100%;
    }

    .header {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;

      @include breakPoints(mobile) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
      }

      .section-title {
        text-align: left;
        margin-bottom: 0;

        &::before {
          left: 6%;
          background-color: $light-color;
        }
      }

      button {
        @include breakPoints(mobile) {
          width: 100%;
        }
      }
    }

    .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1em;

      @include breakPoints(mobile) {
        flex-direction: column;
      }

      @include breakPoints(small) {
        flex-direction: column;
      }
    }
  }
}